body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  height: 100vh;
}

.container {
  position: relative;
  bottom: 100px;
  background-color: gray;
  display: flex;
  flex-direction: column; 
  width: 400px;
  height: 500px;
  padding: 10px;
}

.screen {
  background-color: white;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
}

.display {
  text-align: right;
  font-size: 35px;
  height: auto;
}

.operation-display {
  text-align: right;
  font-size: 15px;
  height: 18px;
  padding-bottom: 5px;
}

.buttons {
  display: grid;
  flex-grow: 1;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px 2px;
}

button {
  font-size: 25px;
  font-family: monospace;
}